@import "./mixins";

.wrapper {
  @include container;
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  row-gap: 25px;

  background: linear-gradient(
    180deg,
    rgba(43, 34, 21, 0.8) -1.22%,
    #22282e 101.33%
  );
  border-radius: 32px;
}
