


body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #FC4060, #8061FD) no-repeat;
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif ;
        margin: 0;
        padding: 0
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

