@import "../../mixins";

.navbar {

    width: 100%;
    height: 112px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-self: center;
    justify-self: left;

    @include mediaTablet {
      height: 90px;

    }

    @include mediaMobile {
      height: 100px;
      grid-template-columns: 1fr 1fr;
    }

 @include mediaApple {
   height: 100px;
   grid-template-columns: 1fr 1fr;
 }

  &__list {
    justify-self: center;
    align-self: center;

    @include mediaMobile {
      display: none;
    }

  }

    &__link {
      color: #a0a3a7;
      margin-right: 65px;
    }

  &__button {
    display: block;
    padding: 15px 25px;
    justify-self: right;
    align-self: center;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: #24282e;
    font-weight: 400;
    font-size: 12px;
    background: linear-gradient(93.22deg, #e1e1e1 8.37%, #ffffff 99.95%);
    box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08);
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #8b7d7d;
        display: none;
    }

    @include mediaTablet {
      padding: 10px 15px;
      width: 145px;
    }

    @include mediaMobile {
      display: none;
    }
  }

  &__burger {
    display: none;
    outline: none;
    width: 75px;
    height: 50px;
    background: transparent;
    padding: 0;

    @include mediaMobile {
      display: block;
      justify-self: right;
      align-self: center;
    }
  }
  .logo {
    align-self: center;
    justify-self: left;

@include mediaMobile {
    width: 90%;
  }

  }
}
